<h1>Editing event</h1>

<%= render "form", event: @event %>

<div>
  <%= link_to "Show this event", @event, class: "button" %> |
  <%= link_to "Back to events", events_path, class: "button" %>
</div>
