<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
  <h1>Events</h1>

  <%= link_to "New event", new_event_path, class: "button button-primary"  %>

  <div id="events">
    <% @events.each do |event| %>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render event %>
        </tbody>
      </table>
    <% end %>

  </div>

<% else %>
  <h1>Welcome!</h1>
  <p>Please sign up or log in to continue.</p>
<% end %>
